<% field_array = ["first_name", "last_name", "birthday", "gender"] %>

  
$("#edit_user_<%= j @user[:id].to_s %> label.is-invalid-label").removeClass("is-invalid-label");
$("#edit_user_<%= j @user[:id].to_s %> input.is-invalid-input").removeClass("is-invalid-input");
$("#edit_user_<%= j @user[:id].to_s %> select.is-invalid-input").removeClass("is-invalid-input");
$("#edit_user_<%= j @user[:id].to_s %> span.form-error").remove("p");
$("#edit_user_<%= j @user[:id].to_s %> span.form-error.is-visible").removeClass("is-visible");

<% if @user.errors.any? %>
  $("#flash_notice").html('<div class="callout alert" data-closable><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button><p><i class="fi-alert"></i> <%= j flash[:warning] %></p></div>');
  <% field_array = ["first name", "last name", "birthday", "gender"] %>  
  <% for i in 0..@user.errors.count-1 %>
    <% field_array.each do |field| %>
      <% if @user.errors.full_messages[i].downcase.include? field %>
        $("#edit_user_<%= j @user[:id].to_s %>").each(function() {
  
          $(this).find('label[for="user_<%= field.split.join('_') %>"]').addClass("is-invalid-label");
          $(this).find('#user_<%= field.split.join('_') %>').addClass("is-invalid-input");
          $(this).find('#user_<%= field.split.join('_')%>').closest('div').find('span.form-error').addClass("is-visible").html('<p><%= @user.errors.full_messages[i] %></p>');
        });
//        later can refactor this into a method
        <% if field == "gender" %>
          <% sub_field_array = ["gender male", "gender female"] %> 
          <% sub_field_array.each do |field| %>
            $("#edit_user_<%= j @user[:id].to_s %>").each(function() {
  
          $(this).find('label[for="user_<%= field.split.join('_') %>"]').addClass("is-invalid-label");
          $(this).find('#user_<%= field.split.join('_') %>').addClass("is-invalid-input");
          $(this).find('#user_<%= field.split.join('_')%>').closest('div').find('span.form-error').addClass("is-visible").html('<p><%= @user.errors.full_messages[i] %></p>');
        });
          <% end %>
        <% end %>
//  later can also refactor this into same method
  <% if field == "birthday" %>
          <% sub_field_array = ["birthday 2i", "birthday 3i", "birthday 1i"] %> 
          <% sub_field_array.each do |field| %>
            $("#edit_user_<%= j @user[:id].to_s %>").each(function() {
  
          $(this).find('label[for="user_<%= field.split.join('_') %>"]').addClass("is-invalid-label");
          $(this).find('#user_<%= field.split.join('_') %>').addClass("is-invalid-input");
          $(this).find('#user_<%= field.split.join('_')%>').closest('div').find('span.form-error').addClass("is-visible").html('<p><%= @user.errors.full_messages[i] %></p>');
        });
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
  