<% action_array = ["new_story", "edit_story_#{@story[:id]}"] %>
<% if controller.action_name == "create" %>
  <% array_index = 0 %>
<% elsif controller.action_name == "update" %>
  <% array_index = 1 %>
<% end %>  

$("#<%= j action_array[array_index].to_s %> label.is-invalid-label").removeClass("is-invalid-label");
$("#<%= j action_array[array_index].to_s %> input.is-invalid-input, #<%= j action_array[array_index].to_s %> textarea.is-invalid-input").removeClass("is-invalid-input");
$('trix-editor.formatted_content').removeClass("is-invalid-input");
$("#<%= j action_array[array_index].to_s %> span.form-error").remove("p");
$("#<%= j action_array[array_index].to_s %> span.form-error.is-visible").removeClass("is-visible");

<% if @story.errors.any? %>
  $("#flash_notice").html('<div class="callout alert" data-closable><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button><p><i class="fi-alert"></i> <%= j flash[:alert] %></p></div>');

  <% field_array = ["title", "body"] %> 
  <% if array_index == 0 %>
    <% for i in 0..@story.errors.full_messages.length-1 %>
      <% field_array.each do |field| %>
        <% if @story.errors.full_messages[i].downcase.include? field %>
          $('label[for="story_<%= j "raw_"+field%>"]').addClass("is-invalid-label");
          $('#story_<%= j "raw_"+field%>').addClass("is-invalid-input");
          <% if field == "body" %>
            $('trix-editor.formatted_content').addClass("is-invalid-input");
            $('trix-editor.formatted_content').closest('div').find('span.form-error').addClass("is-visible").html("<p><%= @story.errors.full_messages[i].gsub!(/.*?(?<=Raw ).*?/im, "").capitalize %></p>");
          <% end %>
          $('#story_<%= j "raw_"+field%>').closest('div').find('span.form-error').addClass("is-visible").html("<p><%= @story.errors.full_messages[i].gsub!(/.*?(?<=Raw ).*?/im, "").capitalize %></p>");
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% for i in 0..@story.errors.full_messages.length-1 %>
      <% field_array.each do |field| %>
        <% if @story.errors.full_messages[i].downcase.include? field %>
          $('label[for="story_<%= j "updated_"+field%>"]').addClass("is-invalid-label");
          $('#story_<%= j "updated_"+field%>').addClass("is-invalid-input");
          <% if field == "body" %>
            $('trix-editor.formatted_content').addClass("is-invalid-input");
            $('trix-editor.formatted_content').closest('div').find('span.form-error').addClass("is-visible").html("<p><%= @story.errors.full_messages[i].gsub!(/.*?(?<=Updated ).*?/im, "").capitalize %></p>");
          <% end %>
          $('#story_<%= j "updated_"+field%>').closest('div').find('span.form-error').addClass("is-visible").html("<p><%= @story.errors.full_messages[i].gsub!(/.*?(?<=Updated ).*?/im, "").capitalize %></p>");
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>