<h2><%= @story.title %></h2>
<%= @story.created_at.strftime("%b %d, %Y") %>
<%= @story.body %>

<% if user_signed_in? && current_user == @story.user %>
  <%= link_to "Edit Story", edit_story_path(@story), class: "btn" %>
  <%= link_to "Delete Story", story_path(@story), method: :delete, data: {confirm: "Are you sure you want to delete the story?"}, class: "btn" %>
<% end %>


<!--  Code for adding and displaying comments follows. Note that it's on the story show view -->
<%= render 'comments/form' %>
<%= render 'comments/show' %>